.grid-container {
  display: grid;
  width: 320px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(6, 50px);
  grid-gap: 8px;
}

span.word {
  margin-right: 5px;
}

.container {
  margin: 20px auto;
  width: 320px;
}

.number {
  font-size: 40px;
  font-weight: 500;
  padding: 0 4px;
}

.center {
  justify-content: center;
}

.grid-container button {
  font-size: 16px;
  display: flex;
  padding: 0 15px;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 8px;
  background-color: white;
  align-items: center;
}

.grid-container button:hover {
  transition: .2s;
  background-color: rgba(0, 0, 0, .08);
}

.arrow-up {
  margin-left: 20px;
  grid-column: 3/4;
  grid-row: 1/2;
}

.arrow-down {
  margin-left: 20px;
  grid-column: 3/4;
  grid-row: 2/3;
}

.center-button {
  margin: 0 -10px;
  grid-column: 2/3;
  grid-row: 1/3;
}

.c-button {
  margin: 20px 20px 20px 0;
  grid-column: 1/2;
  grid-row: 1/3;
}

.display{
  display:flex;
  justify-content:left;
  align-items:top;
  margin: 50px;
  position: relative;
  font-weight: 100;
}

.word {
  margin-right: 10px;
  height: 176px;
  overflow: hidden;
  display: flex;
  padding-top: 132px;
}

.chars {
  transition: transform .2s;
}

.chars div {
  padding: 2px 0;
  font-size: 36px;
  line-height: 40px;
  color: gray;
}

.chars .black {
  color: black;
}

.line {
  position: absolute;
  top: 176px;
  right: 0;
  left: 0;
  border-bottom: 2px solid black;
}